if BOARD_VM35 || BOARD_VM35_LEFT || BOARD_VM35_RIGHT

config ZMK_KEYBOARD_NAME
	default "VM35"

config BT_CTLR
	default BT

config ZMK_BLE
	default y

config ZMK_USB
	default y

endif

if BOARD_VM35_LEFT

config ZMK_SPLIT
	default y

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if BOARD_VM35_RIGHT

config ZMK_SPLIT
	default y

endif
